# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
#*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/


#Autogen crap
*.suo
*.cache
skoleeventkalender\obj\Debug\

skoleeventkalender/obj/
skoleeventkalender/bin/skoleeventkalender.dll
skoleeventkalender/bin/skoleeventkalender.pdb
skoleeventkalender/skoleeventkalender.csproj.user