body {

}
.toptext {
    font-family: 'Open Sans', sans-serif;
    color: darkslategrey;
    text-align:center;
    text-shadow: 1px 1px 2px #bababa;
}
.adminmenu {
    
}
ul {
    list-style-type: none;
}
li {
    display: inline;
}
